body{
  font-family: "Montserrat;"
}
#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15%;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat-Bold";
}

h2{
    font-size: 3rem;
  line-height: 1.5;
}

h3{

}

/* Headings */
.big-heading{
  font-family: "Montserrat-Black";
  size:3.5rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* Download Buttons */

.download-button{
  margin:5% 3% 5% 0;
}

/* Title Image */

.title-image{
  width: 60%;
  transform:rotate(25deg);
}
/* Feature Section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}


.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* CTA section */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer section */
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}

@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;transform: rotate(0);
  }
}
